priority -50

snippet fig "Figure environment" b
<figure>
  <center>
  <img src="${2:/static/img/blog/}"
       alt="$1" />
  <figcaption>$1</figcaption>
  </center>
</figure>
endsnippet

# vim:ft=snippets:
